
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* cursive */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.gsap-app{
    font-family: 'Varela Round', sans-serif;
}

.gsap-page1{
  display: flex;

  height: 100vh;
  background: rgb(135, 206, 235);
  
  justify-content: center;
  align-items: center;

}


#gsap-page1-btn-container p {
  font-size: 70px;
}


#gsap-a{
  position: absolute;
  top: 300px;
  left: 650px;
  font-size: 150px;
}

#gsap-n{
  position: absolute;
  top: 300px;
  left: 760px;
  font-size: 150px;
}

#gsap-i{
  position: absolute;
  top: 300px;
  left: 850px;
  font-size: 150px;
  z-index: 10;
}

#gsap-m{
  position: absolute;
  top: 300px;
  left: 890px;
  font-size: 150px;

}#gsap-a2{
  position: absolute;
  top: 300px;
  left: 1030px;
  font-size: 150px;

}

#gsap-t{
  position: absolute;
  top: 300px;
  left: 1110px;
  font-size: 150px;
}#gsap-e{
  position: absolute;
  top: 300px;
  left: 1170px;
  font-size: 150px;
}


#gsap-green-click{
  position: absolute;
  top: 260px;
  left: 890px;
  font-size: 40px;
  opacity: .2;
}



#gsap-page1-btn{
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  z-index: 900;
}
#gsap-page1-btn:hover{
  color: #ff9aa2;
}


#gsap-img{
  position: absolute;
  height: 100px;
  left: 0;
  justify-content: flex-start;
  transform: rotate(45deg);

  z-index: 1;
}


#gsap-green-text{
  opacity: 0;

  font-size: 80px;
}

#gsap-green-p{
  opacity: 0;
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

#gsap-cloud1{
  position:absolute;
  height: 150px;
  top: 550px;
  left: 100px;
  z-index: -1;
}
#gsap-cloud2{
  position:absolute;
  height: 100px;
  top: 100px;
  left: 1200px;
  z-index: -1;
}
#gsap-cloud3{
  position:absolute;
  height: 260px;
  top: 650px;
  left: 1500px;
  z-index: 2;
}









/* Page 2 -----------------------------------------*/
.gsap-page2{
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* background:  #77dd77; */
    /* background:  #ffdac1; */
    background: rgb(173, 216, 230);
}

.gsap-page2-container{
  
}



#gsap-ship{
  height: 200px;
  position: absolute;
  left: 500px;
  bottom: 200px;
  z-index: 1;
}

#gsap-flame{
  height: 200px;
  position: absolute;
  left: 461px;
  bottom: 100px;
  transform: rotate(180deg);
  z-index: 0;
  opacity: 0;
}

.gsap-p2-text{
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  bottom: 650px;
  left: 930px;
  color: black;
  font-size: 100px;
}

.gsap-p2-text1{
  opacity: 0;
}
.gsap-p2-text2{
  opacity: 0;
}
.gsap-p2-text3{
  opacity: 0;
}
.gsap-p2-text4{
  opacity: 0;
  left: 800px;
  color: crimson;
}

#gsap-mtm-redbtn{
  position: absolute;
  bottom: -150px ;
  right: 100px;
}




#gsap-liftoff-container{
  background: white;
  border-radius: 10px;
  border: 5px solid rgb(0, 0, 0);
  height: 220px;
  width: 230px;
  position: absolute;
  left: 1415px;
  bottom: 345px;
  z-index: -2;

}


#gsap-p2-btn{
  background: crimson;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 1434px;
  bottom: 360px;
  z-index: 1000;
  font-size: 40px;
  font-weight: 900;
}

#gsap-p2-btn:hover{
  background: rgb(146, 10, 37);
}

#gsap-star{
  position: absolute;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  left: 200px;
  bottom: 750px;
  z-index: -100;  
  opacity: 0;
}

#gsap-star-2{
  position: absolute;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  left: 100px;
  bottom: 650px;
  z-index: -100;  
  opacity: 0;
  transform: rotate(65deg);
}

#gsap-star-3{
  position: absolute;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  left: 400px;
  bottom: 300px;
  z-index: -100;  
  opacity: 0;
  transform: rotate(85deg);
}


#gsap-star-4{
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 100px;
  right: 100px;
  z-index: -100;   
  opacity: 0;
}

#gsap-star-5{
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  right: 300px;
  bottom: 700px;
  z-index: -100;  
  opacity: 0;
}

#gsap-star-6{
  position: absolute;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  top: 70px;
  right: 70px;
  z-index: -100;  
  opacity: 0;
}

#gsap-star-7{
  position: absolute;
  border-radius: 50%;
  height: 19px;
  width: 19;
  top: 500px;
  right: 500px;
  z-index: -100;  
  opacity: 0;
}

#gsap-star-8{
  position: absolute;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  top: 10px;
  right: 800px;
  z-index: 1;  
  opacity: 0;
}
#gsap-star-9{
  position: absolute;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  bottom: 110px;
  left: 400px;
  z-index: 1;  
  opacity: 0;
}


#gsap-mtm-shooting-star{
  position: absolute;
  height: 55px;
  top: 10px;
  left: 1700px;
  opacity: 0;
  z-index: z;
}

#gsap-mtm-shooting-star-2{
  position: absolute;
  height: 55px;
  top: 500px;
  left: 1850px;
  opacity: 0;
  z-index: 0;
}







.gsap-page3{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background:  #ff9aa2;

}



#gsap-mtm-title{
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 100px;
  top: 200px;
  left: 530px;
  z-index: 100;
}
#mtm-red{
  color: crimson;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#gsap-mtm-earth-1{
  position: absolute;
  left: 200px;
  bottom: -250px;
  height: 600px;
  width: 750px;
  z-index: -1;
  border-radius: 50%;
  border-top: 2px solid black;
  background-color: green;
}
#gsap-mtm-earth-2{
  position: absolute;
  left: -100px;
  bottom: -150px;
  height: 500px;
  width: 700px;
  z-index: -1;
  background-color: rgb(10, 161, 10);
  border-radius: 50%;
  border-top: 3px solid black;
  

}
#gsap-mtm-earth-3{
  position: absolute;
  left: 130px;
  bottom: -300px;
  height: 560px;
  width: 1100px;
  background-color: rgb(11, 194, 11);
  border-radius: 50%;
  z-index: -1;
  border-top: 4px solid black;
}

#gsap-mars{
  position: absolute;
  border-radius: 50%;
  height: 1px;
  width: 1px;
  left: 1500px;
  top: 100px;
  z-index: 900;  
  background: crimson;
  opacity: 0;
}

#gsap-mtm-moon{
  position: absolute;
  height: 100px;
  top: 130px;
  left: 1500px;
  /* opacity: .5; */
  border: 2px solid black;
  border-radius: 50%;
  z-index: 12;
  opacity: .5;
}

#gsap-mtm-astro{
  position: absolute;
  top: 321px;
  left: 1025px;
  height: 110px;
  z-index: 900;
  opacity: 0;
}





#gsap-mtm-cloud1{
  position: absolute;
  top: 189px;
  left: -10px;
  z-index: 13;  
  height: 250px;
}

#gsap-mtm-cloud2{
  position: absolute;
  top: 80px;
  left: 1460px;
  z-index: 13;  
  height: 250px;
  transform: rotate(10deg);
}
#gsap-mtm-cloud3{
  position: absolute;
  top: -1000px;
  left: 130px;
  z-index: 13;  
  height: 250px;
  opacity: 0;
}

#gsap-mtm-cloud4{
  position: absolute;
  top: -750px;
  left: 1050px;
  z-index: 13;  
  height: 250px;
  opacity: 0;
  transform: rotate(5deg);
}

#gsap-mtm-astroid{
  position: absolute;
  top: -100px;
  left: 1750px;
  height: 1100px;
  opacity: 0;
  z-index: 1000  ;
}
#gsap-mtm-astroid2{
  position: absolute;
  top:  -20px;
  left: 1890px;
  height: 500px;
  transform: rotate(35deg);
  z-index: 90  ;
  opacity: 0;
  z-index: -100;
}



#gsap-mtm-flare{
  height: 100px;
  position: absolute;
  top: 100px;
  left: 1400px;
  opacity: 0;
}
#gsap-mtm-flare2{
  height: 100px;
  position: absolute;
  top: 0px;
  left: 1350px;
  opacity: 0;
}
#gsap-mtm-flare3{
  height: 100px;
  position: absolute;
  top: 100px;
  left: 1500px;
  opacity: 0;
}


#gsap-mtm-flare4{
  height: 100px;
  position: absolute;
  top: 100px;
  left: 1400px;
  opacity: 0;
}
#gsap-mtm-flare5{
  height: 100px;
  position: absolute;
  top: 0px;
  left: 1350px;
  opacity: 0;
}
#gsap-mtm-flare6{
  height: 100px;
  position: absolute;
  top: 90px;
  left: 900px;
  opacity:0 ;
}

#gsap-mtm-flare7{
  height: 100px;
  position: absolute;
  top: 50px;
  left: 1100px;
  opacity: 0;
}
#gsap-mtm-flare8{
  height: 100px;
  position: absolute;
  top: 10px;
  left: 1000px;
  opacity: 0;
}


#gsap-mtm-meteor {
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 1660px;
  z-index: -100;
  opacity: 0;
}

#gsap-mrm-flash{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  background-color: rgb(255, 250, 177);
  color: rgb(255, 250, 177);
}

#gsap-mrm-redgrowth{
  position: absolute;
  z-index: 998;
  left: 0;
  right: 0;
  bottom: 10px;
  background-color: red;
  height: 1055px;
  color: red;
  opacity: 0;
}

#gsap-mtm-ocean{
  position: absolute;
  bottom: 4px;
  right: 0;
  z-index: -100;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#gsap-mtm-eflames {
position: absolute;
height: 400px;
bottom: -490px;
left: 0px;
opacity: .8;
z-index: 90;
}

/* position: absolute;
height: 400px;
bottom: -490px;
left: 0px;
opacity: .8;
z-index: 90; */





/* #gsap-mtm-bird-up{
  position: absolute;
  height: 50px;
  bottom: 250px;
  left: 900px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#gsap-mtm-bird-down{
  position: absolute;
  height: 50px;
  bottom: 260px;
  left: 950px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
 */


#gsap-mtm-bird{
  height: 30px;
}



/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  } */
  
  /* section {
    height: 100vh;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  }
  
  .one {
    background: #0c0d0d;
  }
  
  .two {
    background: #9ade6e;
  }
  
  .three {
    background: #fa7968;
  }
  
  .four {
    background: #2cbde4;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-style: italic;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 4rem;
    line-height: 1.1;
  }
  
  button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: #f5cd03;
    color: #0c0d0d;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
  }
  
  .image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 700px;
  }
  
  .text {
    color: #fff;
  }
   */
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }





/* CSS from notes */
/* #gsap-demo{
    display: flex;
    background-color: rgb(244, 207, 62);
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
} */


/* #gsap-demo img {
    height: 500px;
    margin-right: 50px;
}

.gsap-images{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.gsap-circle{
    background-color: red;
    border: 1px solid red;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    margin-right: 50px;
}

#gsap-demo button {
    padding: 5px;
} */
