@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nunito+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nunito+Sans:wght@300;700&display=swap');
.spelling-page{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    background-color: #57add8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.sp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 362px;


}

.sp-box{
    border: 1px solid black;
    border-radius: 13px;
    background-color: #cfe0e8;

}

#sp-reset-btn{
    visibility: hidden;
}

#sp-start-new-game{
    visibility: hidden
}


#sp-title{
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #87bdd8;
    border-radius: 13px 13px 0px 0px;
    color: white;
    padding: 20px;
}

#sp-time {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 500px;
    background-color: #b7d7e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

#st-score{
    margin-top: 20px;
    margin-bottom: 20px;
}

#sp-instruction{
    margin-bottom: 20px;
    font-size: small;
}

#sp-start-btn{
    margin-top: 20px;
    margin-bottom: 20px;

}

#sp-text{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;

}

#sp-word {
    font-weight: bolder;
    position: relative;
    z-index: -999;
    height: 0;
}

@media (max-width: 800px) {

    .sp-box{
        width: 300px;
    }
    /* #st-time{
        width: 300px;
    } */
    #sp-title{
        font-size: 45px;
    }
}