@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nunito+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nunito+Sans:wght@300;700&display=swap');
.spelling-page{
    display: flex;
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    background-color: #333;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'Nunito Sans', sans-serif;
}

.sp-container{
    /* display: flex;
    justify-content: center; */
    align-items: center;
    height: 362px;
    margin-top: 25vh;
    /* width: 100rem; */
    margin-left: 37vw;
    /* border: 1px solid black; */
}

.sp-box{
    border: 5px solid black;
    border-radius: 13px;
    background-color: #cfe0e8;

}

#sp-reset-btn{
    visibility: hidden;
}

#sp-start-new-game{
    visibility: hidden
}


#sp-title{
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #333;
    border-radius: 5px 5px 0px 0px;
    color: white;
    color: #65dc98;
    padding: 20px;
    /* padding-bottom: 30px; */
}

#sp-score{
    margin-top: 20px;
}

#sp-time {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 500px;
    background-color: #b7d7e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

#st-score{
    margin-top: 20px;
    margin-bottom: 20px;
}

#sp-instruction{
    margin-bottom: 10px;
    font-size: small;
}

#sp-start-btn{
    margin-top: 10px;
    height: 2rem;
    width: 5rem;
    font-weight: bolder;
    /* margin-bottom: 20px; */
    background-color: #65dc98;
    border-radius: 5px;
}
#sp-speak{
    margin-bottom: 10px;
    height: 2rem;
    width: 4rem;
    font-weight: bolder;
    background-color: #65dc98;
    border-radius: 5px;
}

#sp-text{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;

}

#sp-word {
    font-weight: bolder;
    position: relative;
    z-index: -999;
    height: 0;
}

#missed-Container{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin-top: 2rem;

}
#typoWordDisplay{
    margin-bottom: .2rem;
    width: 15vw;
    display: flex;
    margin-left: 10vw;
    /* justify-content: space-between; */
    /* border: 1px solid black; */

    border-bottom: 1px solid black;
}
#spelling-ul{
    color:  black;
    margin-left: 1rem;
    margin-right: 1rem;
    /* padding: 1rem; */
    font-weight: bold;
    font-size: 1rem;

    /* border: 1px solid black; */
    /* height: 10rem; */
}
@media (max-width: 800px) {

    .sp-box{
        width: 300px;
    }
    /* #st-time{
        width: 300px;
    } */
    #sp-title{
        font-size: 45px;
    }
}