.text-page-body{
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0f1424;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 ;
    padding: 0 ;

}

#textapp-reflection{
 color:  #00aee6;
 font-size: 30px;
 font-weight: 700;
 text-transform: uppercase;
 -webkit-box-reflect: below -12px linear-gradient(transparent, #00000040);
 margin-bottom: 30px;
}
#textapp-fade-in{
 color:  #00aee6;
 font-size: 30px;
 font-weight: 700;
 text-transform: uppercase;
 margin-bottom: 20px;
}



.animated {
    background-repeat: no-repeat;
    background-position: left top;

    -webkit-animation-duration: 10s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 

 .fadeInClass {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }


 @-webkit-keyframes fadeOut {
     100% {opacity: 1;}
    0% {opacity: 0;}
 }
 
 @keyframes fadeOut {
     100% {opacity: 1;}
    0% {opacity: 0;}
 }

 .fadeOutClass {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }
