
/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  }
  
#landing-header-container{
  height: 10vh;
  background-color: #1d1d1d;
  max-width: 100vw;
  font-family: 'Arimo', sans-serif;
}


#landing-heading{
  display: flex;
  flex-direction: column;
  /* background-color: #1d1d1d; */
  /* border: 1px solid black; */
  width: 100vw;
  position:fixed;
  z-index: 100;
  padding-bottom: 10px;
  /* border-bottom: 1px solid black; */
}


#landing-h1{
  margin-top: 5px;
  font-size: 50px;
  padding-left: 30px;
  color: #ff2a6a;
  text-shadow: -2px -2px  #05d9e8;
  width: 100vw;
  background-color: #1d1d1d;
  /* border: 1px solid black; */
}
#landing-h1:hover{
  color: #05d9e8;
  text-shadow: -2px -2px  #ff2a6a;
}


#card-links{
  display: flex;
  padding-left: 30px;
  /* justify-content: space-evenly; */
  width: 100vw;
  background-color: #1d1d1d;
  /* border: 1px solid black; */
}

.header-link{
  margin-right: 20px;
  text-decoration: none;
}

#containerCardLinks{
  display: flex;
  width: 50vw;
  flex-direction: column;
}
#card-links-deadspace{
  width: 50vw;
}
/* Nav buttons */

#Home-Btn{
  text-decoration: none;
  color: black;
  font-size: 20px;
  color: gray;
}

#Home-Btn:hover{
  color: white;
  cursor: pointer;
}

#GS-MTM-Btn{
  border: none;
  color: gray;
  background-color: #1d1d1d;
  font-size: 20px;
  text-decoration: none;
}
#GS-MTM-Btn:hover{
  color: white;
  cursor: pointer;
}

#Timeline-Btn{
  border: none;
  background-color: #1d1d1d;
  color: gray;
  /* text-shadow: -1px -1px  #ff2a6d; */
  font-size: 20px;
}
#Timeline-Btn:hover{
  color: white;
  cursor: pointer;
}


#Speedtyper-btn{
  border: none;
  background-color: #1d1d1d;
  color: gray;
  font-size: 20px;
}

#Speedtyper-btn:hover{
  color: white;
  cursor: pointer;
}

#Spelling-btn{
  border: none;
  color: gray;
  background-color: #1d1d1d;
  font-size: 20px;
}
#Spelling-btn:hover{
  color: white;
  cursor: pointer;
}


#Home-Container{

  display: flex;
  height: 90vh;
  text-align: center;
  /* background-color: black; */
  color: white;
  /* background-color: #05d9e8; */
  background-color: (5, 217, 232);
  font-family: 'Arimo', sans-serif;
  /* border: 1px solid black; */
}


/* Landing Page Scroll  */

#landing-left{
  position: absolute;
  z-index: 1;
  padding: 0px;
  display: flex;
  height: 90vh;
  background-color:#05d9e8;
  /* width: 60vw; */
  flex-direction: column;
  justify-content: center;
  color: black;
  width: 60vw;
  font-family: 'Arimo', sans-serif
}



#landing-left p{
  font-size: 100px;
}
#landing-line1{
  margin-left: 20%;
  padding-top: 15%;
  width: 0;
  font-weight: bold;
  color: #d1f7ff;
  color: #ff2a6d;

  opacity: 0;
  white-space: nowrap
}
#landing-line2{
  margin-left: 20%;
  color: rgb(0, 255, 159);
  opacity: 0;
  width: 0;
  font-weight: bold;
  white-space: nowrap
}
#landing-line3{
  margin-left: 20%;
  color: #005678;
  opacity: 0;
  width: 0;
  font-weight: bold;
  white-space: nowrap
}
#landing-line4{
  margin-left: 20%;
  color: #ff2a6d;
  color: #d1f7ff;
  opacity: 0;
  width: 0;
  font-weight: bold;
  white-space: nowrap
}


#landing-right{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  /* border: 1px solid red; */
  background-color: #1d1d1d;
  font-family: 'Arimo', sans-serif
}


#greetingText{
  display: flex;
  
  position: absolute;
  color: #ff2a6a;
  text-shadow: -7px -3px  #05d9e8;
  /* opacity: 0; */
  font-size: 200px;
  position: relative;
  top: -50px;
}
#greetingText:hover{
  cursor: pointer;
}

#greetingTextL1{
  position: relative;
}



#text2{
  opacity: 0;
  margin-top: 10px;
  font-size: 25px;
}

/* #test1{
  margin-top: 100vh;
} */




/* Greensock 'card' or page */
#GS-MTM-Card{
  font-family: 'Arimo', sans-serif;
  background-color: #1d1d1d;

  height: 90vh;
}

#GS-MTM-Container{

}

#GS-MTM-Container-h1{

  display: flex;
  justify-content: center;
  height: 110px;
  overflow: hidden;
}

#GS-MTM-Card-h1{
  /* color: #00aff2; */
  color: red;
  text-shadow: -2px -2px  #a1251b;
  font-size: 55px;
  margin-top: 20px;
  position: relative;
  top: 100px;
} 

#GS-MTM-Container-Des{
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.6;
  text-align: center;
  /* border: 1px solid black; */
  overflow: hidden;

}

#GS-MTM-Des{
  color: white;
  /* margin-top: 20px; */
  font-size: 25px;
  padding-bottom: 20px;
  position: relative;
  opacity: 0;
}

#GS-MTM-Link{
  opacity: 0;
  font-size: 30px;
  text-decoration: none;
  /* color: #00aff2; */
  color: #00aff2;

}

#GS-MTM-Link:hover{
  color: #00aff2;
}

#GS-MTM-Mars-Image-Container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#GS-MTM-Mars-Image{
  position: relative;

  z-index: 100;
  opacity: 0;
  height: 400px;
}

#GS-MTM-Ship-Image{
  position: absolute;
  z-index: 2;
  left: -475px;
  height: 100px;
  /* opacity: 0; */
}


/* Timeline "card" or page */
#timeline-Card{
  /* background-color: rgba(128, 128, 128, 0.164)  ; */
  background-color: #1d1d1d;
  height: 90vh;
}

#Timeline-Container-h1{
  display: flex;
  justify-content: center;
  height: 100px;
  padding-top: 20px;
  overflow: hidden;
  margin-bottom: 40px;
}

#Timeline-h1{
  color: #009cf5;
  text-shadow: -2px -2px #d1f7ff;
  font-family: 'Arimo', sans-serif;
  font-size: 55px;
  position: relative;
  top: 110px;
} 

#Timeline-Container-Des{
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.6;
  text-align: center;
  /* border: 1px solid black; */
  height: 200px;
  overflow: hidden;
}


#Timeline-Des{
  margin-bottom: 20px;
  position: relative;
  right: 1000px;
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
  font-family: 'Arimo', sans-serif
}

#container-timeline-link{
  text-align: center;
  margin-bottom: 150px;
}

#Timeline-Link{
  opacity: 0;
  font-size: 40px;
  text-decoration: none;
  /* color: #00aff2; */
  color: #ff184c;
  text-shadow: -1px -1px #d1f7ff;
  font-family: 'Arimo', sans-serif;

}

#Timeline-Link:hover{
  color: #d1f7ff;
  text-shadow: -1px -1px #ff184c;

}

#timelineLandingInst{
  text-align: center;
  font-size: 25px;
  font-family: 'Arimo', sans-serif
}

#Timeline-Animation-Container{
  display: flex;
  margin-top: 150px;
  margin-left: 30%;
  margin-right: 30%;
  opacity: 0;
  border-radius: 15px;
  height: 300px;
  width: 600px;
}

#Timeline-Animation-Date{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border: .1em solid black;
  border-radius:  15px 0 0 15px ;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 180px;
}


#Timeline-Animation-Answers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5.5em;
  height: 40px;
  font-weight: bolder;
}

#Nixon{
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  border: .1em solid black;
  border-radius: 0 15px 0 0;
  text-align: center;
  width: 416px;
  font-weight: bolder;
  background-color: rgba(255, 0, 0, 0.5);

}

#Roe{
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  border: .1em solid black;
  text-align: center;
  width: 416px;
}

#WW2{
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  border: .1em solid black;
  text-align: center;
  width: 416px;
}
#FirstWebPage{
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  border: .1em solid black;
  border-radius: 0 0 15px 0;
  text-align: center;
  width: 416px;
}
#containerTlLandingBtn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/* color: #ff184c;
text-shadow: 1px 1px #009cf5; */
.landing-check-btn{
  /* font-family: 'Arimo', sans-serif; */
  font-family: "Noto Serif", serif;
  font-size: 20px;
  border: .1em solid black;
  border-radius: 9px ;
  /* border: none; */
  /* background-color: #1d1d1d; */
  /* color: hsla(346, 100%, 55%, 0.315); */
  color: black;

  /* text-shadow: 1px 1px white; */
  /* border-color: white; */
  align-items: center;
  padding-top: 5px;
  padding-bottom:  5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 100px;
}
.landing-check-btn:hover{
  color: white;
  background: rgba(38, 97, 129, 0.767);
}


/* speedtyper landing */
#landingSpeedTyper{
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  background-color: #1d1d1d;
  height: 90vh;
  color: white;
  text-align: center;

}



#speedTyperTitle{
  opacity: 0;
  color: #b7c1de;
  text-shadow: -2px -2px #d1f7ff;
  font-family: 'Arimo', sans-serif;
  font-size: 55px;
  position: relative;
  top: 20px;
}

#speedTyperText{
  margin-top: 5rem;
  font-size: 25px;
  font-size: 0px;
  margin-bottom: 10rem;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.6;
}

#clock{
  /* display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; */
  margin-left: 45vw;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: blanchedalmond;
}
#clockHand{
  position: relative;
  left: 59%;

  height: 50%;
  /* margin-bottom: 50%; */
  transform: rotate(120deg);
  width: 2%;
  background: black;
}

#speedTyperLink{
  margin-top: 2rem;
  font-size: 40px;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px #617f85;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
}

@media (max-width: 1000px) {
  #landing-h1{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    padding-left: 0px;
    width: 100vw;
  }
  #text1{
    position: relative;
    top: -50px;
    font-size: 80px;

  }
  #card-links{
    width: 100vw;

  }
  #Home-Btn{
    font-size: 16px;
  }
  #GS-MTM-Btn{
    font-size: 16px;
  }
  #Speedtyper-btn{
    font-size: 16px;
  }
  #Timeline-Btn{
    font-size: 16px;
  }
  #Spelling-btn{
    font-size: 16px;
  }
}


#grass{
  width: 1vw;
  display: none;
  opacity: 0;
  margin-top: 20%;
  border-bottom: 5px solid springgreen;
}

#cataContainer{
  display: flex;
  opacity: 0;
}

#pressAnyKey{
  opacity: 0;
  position: absolute;
  text-align: center;
  color: white;
  /* border: 1px solid white; */
  font-size: 40px;
  top: 300px;
  width: 100vw;
}



#cata1{
  width: 2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2rem;
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border: 5px solid rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
  border-radius: 50%;
}

#cata2{
  width: 2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2rem;
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border: 5px solid rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
  border-radius: 50%;
}

#cata3{
  width: 2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2rem;
  border: 5px solid rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border-radius: 50%;
}

#cata4{
  width: 2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2rem;
  border: 5px solid rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border-radius: 50%;
}
#cata5{
  width: 2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2rem;
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border: 5px solid rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
  border-radius: 50%;
}

#cata6{
  width: 2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2rem;
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border: 5px solid rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
  border-radius: 50%;
}

#cata7{
  width: 2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2rem;
  border: 5px solid rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border-radius: 50%;
}

#cataHead{
  width: 2.2rem;
  position: relative;
  bottom: .5rem;
  right: .2rem;
  /* display: none;
  opacity: 0; */
  /* margin-top: 10%; */
  height: 2.2rem;
  border: 5px solid rgb(217, 0, 255);
  background-color: rgb(217, 0, 255);
  border-radius: 50%;
}

#eye{
  position: relative;
  display: none;
  height: .5rem;
  width: .5rem;
  bottom: .3rem;
  right: 1.2rem;
  background-color: black  ;
  border-radius: 50%;
}

#sun{
  opacity: 0;
  position: absolute;
  left: 2rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background: yellow;
}