
/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  }
  
#landing-header-container{
  height: 10vh;
  background-color: #1d1d1d;
  max-width: 100vw;
  font-family: 'Arimo', sans-serif;
}


#landing-heading{
  display: flex;
  flex-direction: column;
  /* background-color: #1d1d1d; */
  /* border: 1px solid black; */
  width: 100vw;
  position:fixed;
  z-index: 100;
  padding-bottom: 10px;
  /* border-bottom: 1px solid black; */
}


#landing-h1{
  font-size: 50px;
  padding-left: 30px;
  color: #ff2a6a;
  text-shadow: -2px -2px  #05d9e8;
  width: 500px;
  margin-bottom: 10px;

  /* border: 1px solid black; */
}



#card-links{
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  /* border: 1px solid black; */
}

/* Nav buttons */

#Home-Btn{
  text-decoration: none;
  color: black;
  font-size: 20px;
  color: #05d9e8;
}

#Home-Btn:hover{
  color: red;
}

#GS-MTM-Btn{
  border: none;
  color: #05d9e8;
  background-color: #1d1d1d;
  font-size: 20px;
  text-decoration: none;
}
#GS-MTM-Btn:hover{

}

#Timeline-Btn{
  border: none;
  background-color: #1d1d1d;
  color: #05d9e8;
  font-size: 20px;
}
#Timeline-Btn:hover{
  color: red;
}


#Speedtyper-btn{
  border: none;
  background-color: #1d1d1d;
  color: #05d9e8;
  font-size: 20px;
}

#Speedtyper-btn:hover{
  color: red;
}

#Spelling-btn{
  border: none;
  color: #05d9e8;
  background-color: #1d1d1d;
  font-size: 20px;
}
#Spelling-btn:hover{
  color: red;
}


#Home-Container{
  display: flex;
  height: 90vh;
  text-align: center;
  /* background-color: black; */
  color: white;
  background-color: #05d9e8;
  font-family: 'Arimo', sans-serif;
  /* border: 1px solid black; */
}


/* Landing Page Scroll  */

#landing-left{
  /* width: 60vw; */
  background-color: #05d9e8;

}

#landing-left-container1{
  padding: 0px;
  display: flex;
  height: 90vh;
  /* width: 60vw; */
  flex-direction: column;
  justify-content: center;

  color: black;
  display: none;
  /* border: 1px solid red; */
}

#landing-left p{
  font-size: 100px;
}
#landing-line1{
  margin-left: 20%;
  margin-top: 15%;
  width: 0;
  color: #ff2a6d;
  opacity: 0;
  white-space: nowrap
}
#landing-line2{
  margin-left: 20%;
  color: #d1f7ff;
  opacity: 0;
  width: 0;
  white-space: nowrap
}
#landing-line3{
  margin-left: 20%;
  color: #005678;
  opacity: 0;
  width: 0;
  white-space: nowrap
}
#landing-line4{
  margin-left: 20%;
  color: #01012b;
  opacity: 0;
  width: 0;
  white-space: nowrap
}
#landing-right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* border: 1px solid red; */
  background-color: #1d1d1d;
}


#text1{
  position: absolute;
  color: #ff2a6a;
  text-shadow: -7px -3px  #05d9e8;
  /* opacity: 0; */
  font-size: 200px;
  position: relative;
  top: -50px;
}

#text2{
  opacity: 0;
  margin-top: 10px;
  font-size: 25px;
}

/* #test1{
  margin-top: 100vh;
} */




/* Greensock 'card' or page */
#GS-MTM-Card{
  font-family: 'Arimo', sans-serif;
  background-color: #1d1d1d;

  height: 90vh;
}

#GS-MTM-Container{

}

#GS-MTM-Container-h1{

  display: flex;
  justify-content: center;
  height: 110px;
  overflow: hidden;
}

#GS-MTM-Card-h1{
  /* color: #00aff2; */
  color: red;
  text-shadow: -2px -2px  #a1251b;
  font-size: 55px;
  margin-top: 20px;
  position: relative;
  top: 100px;
} 

#GS-MTM-Container-Des{
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.6;
  text-align: center;
  /* border: 1px solid black; */
  height: 260px;
  overflow: hidden;
}

#GS-MTM-Des{
  color: white;
  /* margin-top: 20px; */
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
}

#GS-MTM-Link{
  opacity: 0;
  font-size: 30px;
  text-decoration: none;
  /* color: #00aff2; */
  color: #00aff2;
}

#GS-MTM-Link:hover{
  color: #00aff2;
}

#GS-MTM-Mars-Image-Container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#GS-MTM-Mars-Image{
  position: relative;

  z-index: 100;
  opacity: 0;
  height: 400px;
}

#GS-MTM-Ship-Image{
  position: absolute;
  z-index: 2;
  left: -475px;
  height: 100px;
  /* opacity: 0; */
}


/* Timeline "card" or page */
#timeline-Card{
  display: none;
}

#timeline-Container{
  margin-top: 10vh;
}

#Timeline-Container-h1{
  display: flex;
  justify-content: center;
  height: 100px;

  overflow: hidden;
}

#Timeline-h1{
  color: #00aff2;
  font-size: 55px;
  position: relative;

  top: 110px;
} 

#Timeline-Container-Des{
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.6;
  text-align: center;
  /* border: 1px solid black; */
  height: 240px;
  overflow: hidden;
}


#Timeline-Des{
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  right: 1000px;
}

#Timeline-Link{
  opacity: 0;
  font-size: 30px;
  text-decoration: none;
  /* color: #00aff2; */
  color: black;
}
#Timeline-Link:hover{
  color: #00aff2;
}


#Timeline-Animation-Container{
  display: flex;
  margin-top: 100px;
  margin-left: 30%;
  margin-right: 30%;
  opacity: 0;
  border-radius: 15px;
  height: 300px;
  width: 600px;
}

#Timeline-Animation-Date{
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bolder;
  border: 1px solid black;
  border-radius:  15px 0 0 15px ;
  height: 40px;
  width: 180px;
}


#Timeline-Animation-Answers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 63px;
  height: 40px;
  font-weight: bolder;
}

#Nixon{
  position: relative;
  padding-top: 9px;
  padding-bottom: 8px;
  border: 1px solid black;
  border-radius: 0 15px 0 0;
  text-align: center;
  width: 416px;
  font-weight: bolder;
  background-color: rgba(255, 0, 0, 0.5);
}

#Roe{
  position: relative;
  padding-top: 9px;
  padding-bottom: 8px;
  border: 1px solid black;
  text-align: center;
  width: 416px;
}

#WW2{
  position: relative;
  padding-top: 9px;
  padding-bottom: 8px;
  border: 1px solid black;
  text-align: center;
  width: 416px;
}
#FirstWebPage{
  position: relative;
  padding-top: 9px;
  padding-bottom: 8px;
  border: 1px solid black;
  border-radius: 0 0 15px 0;
  text-align: center;
  width: 416px;
}



@media (max-width: 1000px) {
  #landing-h1{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    padding-left: 0px;
    width: 100vw;
  }
  #text1{
    position: relative;
    top: -50px;
    font-size: 80px;

  }
  #card-links{
    width: 100vw;

  }
  #Home-Btn{
    font-size: 16px;
  }
  #GS-MTM-Btn{
    font-size: 16px;
  }
  #Speedtyper-btn{
    font-size: 16px;
  }
  #Timeline-Btn{
    font-size: 16px;
  }
  #Spelling-btn{
    font-size: 16px;
  }
}